// COLOR VARIABLES
$color-primary: #00acc6;
$color-white: white;
$color-black: black;
$color-black-lighter: #4b4b4b;
$color-grey-1: #777777;
$color-grey-2: #d4d4d4;
$color-grey-3: #d5d5d5;

// font
@font-face {
  font-family: almonidlaaa;
  src: url(../fonts/almonidlaaa.woff) format(truetype);
  font-weight: thin;
}

body {
  font-family: "Inter", sans-serif;
  color: $color-black;
}

.container {
  @media only screen and (min-width: 1200px) {
    &.container-16 {
      max-width: 1620px;
    }
  }
}

// utilities
.slide-row {
  @media only screen and (max-width: 992px) {
    display: inline-flex!important;
    overflow-y: hidden;
    overflow-x: auto;
    width: auto;
    max-width: 100%;
    position: relative;
    flex-wrap: nowrap;
    direction: rtl;
  }
}