.selected-filters {
  
  .btn {
    color: $color-grey-1;
    border: 1px solid $color-grey-1;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 400;
    padding-inline: 19px;
    min-width: fit-content;

    @media only screen and (max-width: 992px) {
      font-size: 13px;
    }
  }

}
