.selected-filters {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #898989 #F5F5F5;   /* scroll thumb and track */ 
  scrollbar-shadow-color: inset 0 0 6px rgba(0,0,0,.3);
  scrollbar-width: 10px;

  .btn {
    color: $color-grey-1;
    border: 1px solid $color-grey-1;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 400;
    padding-inline: 19px;
    min-width: fit-content;

    @media only screen and (max-width: 992px) {
      font-size: 13px;
    }
  }

}
